@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Ubuntu&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
    min-height: 100vh;
    background-image: url(/images/Background\ 451.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::before {
    content: '';
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 70px;
    left: 0;

    background: linear-gradient(black,black);
    opacity: 0.8;
}

header{
    background-color: #B93A3A;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

.menu{
    width: 900px;
    margin: 0 auto;
}

.Insignia{
    width: 70px;
    height: 75px;
    float: left;
    padding: 8px;
    position: absolute;
    left: 12%;
}

nav{
    float: left;
}

nav a:hover { 
    color:#FFE600;
}

nav ul li {
    list-style: none;
    margin-left: 55px;
    padding: 26px 0;
    float: left;
    position: relative;
    font-size: 15px;
    font-family:'Arvo', serif;
    font-weight: bold;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background-color: #FFE600;
    height: 5px;
    bottom: 15px;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before {
    width: 100%;

}

h2{
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 20%;
    top: 4%;
}

.facebook {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15%;
    top: 2%;
}

.youtube {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10%;
    top: 2.5%;
}

.titulo-principal{
    color: #FFE600;
    position: absolute;
    /*border: 2px solid red;*/
    text-align: center;
    right: 15%;
    top: 40%;
    font-size: 64px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    letter-spacing: 1.5px;
    text-shadow:-2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}   

h3{
    position: absolute;
    top: 38%;
    color: #FFE600;
    right: 27%;
    font-size: 26px;
    text-align: center;
    text-shadow:-2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    letter-spacing: 1.5px;
}

.barra-amarilla{
    position: absolute;
    background-color: #FFE600;
    top: 68%;
    width: 650px;
    height: 10px;
    right: 14%;
    text-shadow:-2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}

.alma-mater{
    position: absolute;
    color: #FFE600;
    top: 72%;
    font-size: 35px;
    right: 21.5%;
    font-weight: bold;
    text-shadow:-2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}

.contenedor{
    border: 2px solid greenyellow;
    width: 100%;
    position: absolute;
    background: white;
    top: 100%
}

.vision{
    background: blue;
    display: inline-block;
    padding: 30px 20px 10px; 
    margin: 15% 8%;
    text-align: center;
}

.Mision{
    background: violet;
    display: inline-block;
    padding: 10px 35px;
    margin: 15% 8%;
    text-align: center;
}

.valores{
    background: green;
    display: inline-block;
    padding: 20px 40px;
    margin: 15% 8%;
    text-align: center;
}

